[submodule]
    recurse = true

[branch "main"]
    pushRemote = origin

[init]
    defaultBranch = main

[user]
    email = marfxedbot@gmail.com
    name = Eyrim
    signingKey = ~/.ssh/id_ed25519.pub

[commit]
	gpgSign = true

[gpg]
	format = ssh


